<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="nav" class=" is_home ">
    <navbar id="navbar"><!--导航栏-->
        <nav id="title-nav">
            <a href="/">
                <div id="vivia-logo"><!--导航栏左侧logo-->
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div>My Blog</div><!--文字-->
            </a>
        </nav>
        <nav id="main-nav"><!--导航栏-->

            <a class="main-nav-link" href="/">主页</a>

            <a class="main-nav-link" href="/archives">归档</a>

            <a class="main-nav-link" href="/about">关于</a>

        </nav>

        <nav id="sub-nav"><!--导航栏图标-->
            <a id="nav-search-btn" class="nav-icon" title="搜索"><!--搜索-->

                <span class="material-symbols-rounded">search</span>

            </a>
            <a id="theme-btn" class="nav-icon">
                <span class="material-symbols-rounded light-mode-icon">wb_sunny</span><!--白天-->
                <span class="material-symbols-rounded dark-mode-icon">dark_mode</span><!--黑夜-->
            </a>
            <div id="nav-menu-btn" class="nav-icon">
                <span class="material-symbols-rounded">menu</span><!--菜单栏-->
            </div>
        </nav>
    </navbar>
    <div id="nav-dropdown" class="hidden">
        <div id="dropdown-link-list"><!--下拉菜单-->

            <a class="nav-dropdown-link" href="/">主页</a>

            <a class="nav-dropdown-link" href="/archives">归档</a>

            <a class="nav-dropdown-link" href="/about">关于</a>


        </div>
    </div>


</div>
</body>
</html>